---
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { formatBlogPosts, slugify } from "../../js/utils.js";

export async function getStaticPaths() {
  let allPost = await Astro.glob("../blog/*.md");
  allPost = formatBlogPosts(allPost);
  const allAuthors = [
    ...new Set(allPost.map((p) => p.frontmatter.author).flat()),
  ];
  return allAuthors.map((a) => {
    const authorPosts = allPost.filter((p) => p.frontmatter.author === a);
    return {
      params: { author: slugify(a) },
      props: { name: a, authorPosts },
    };
  });
}

const { name, authorPosts } = Astro.props;
---

<MainLayout title="My Blog">
  <section class="container" aria-label={`Posts by ${name}`}>
    <h1 class="h1">Posts by <span>{name}</span></h1>
    <div class="post-container">
      {
        authorPosts.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
