---
import { getCollection, CollectionEntry } from "astro:content";
import PostCard from "../components/PostCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { formatBlogPosts } from "../js/utils.js";
import Link from "../components/Link.astro";
//let allPost = await Astro.glob("./blog/*.md");
let allPost: CollectionEntry<"blog">[] = await getCollection("blog");
allPost = formatBlogPosts(allPost, { limit: 3 });
---

<MainLayout title="My Blog">
  <section class="container about" aria-label="About Me">
    <img src="/images/headshot.jpg" alt="headshot" width="200" height="330" />
    <div class="content">
      <h1>About</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi,
        officiis iure! Ipsa quas, incidunt iure doloremque sint aut eius. Eum
        Repellat eius ea alias qui.
      </p>
      <Link
        href="/about/"
        style="secondary"
        isFilled={false}
        borderVisible={true}
        text="About Me"
      />
    </div>
  </section>
  <section class="container" aria-label="New Blog Posts">
    <h2 class="h1">New Blog Posts</h2>
    <div class="post-container">
      {
        allPost.map((post) => (
          <PostCard data={post.data} url={post.slug} tagType="h3" />
        ))
      }
    </div>
  </section>
</MainLayout>
