---
import { formatBlogPosts, slugify } from "../js/utils.js";
let allPost = await Astro.glob("../pages/blog/*.md");
allPost = formatBlogPosts(allPost);

const { category, author, title } = Astro.props;

const related = allPost
  .filter(
    (p) =>
      p.frontmatter.title === title
        ? false
        : p.frontmatter.category.toLowerCase() === category.toLowerCase()
    // : p.frontmatter.category === category || p.frontmatter.author === author
  )
  .flat();
---

{
  related && related.length && (
    <aside class="container" aria-label="Related posts">
      <h2>Related Posts</h2>
      <ul class="categories">
        {related.map((r) => (
          <li>
            <a class="badge" href={r.url}>
              {r.frontmatter.title}
            </a>
          </li>
        ))}
      </ul>
    </aside>
  )
}
