---
import { CollectionEntry, getCollection } from "astro:content";
import { formatBlogPosts } from "../js/utils.js";
//let allPost = await Astro.glob("../pages/blog/*.md");
let allPost: CollectionEntry<"blog">[] = await getCollection("blog");
allPost = formatBlogPosts(allPost);

const { category, title } = Astro.props;

const related = allPost
  .filter(
    (p) =>
      p.data.title === title
        ? false
        : p.data.category.toLowerCase() === category.toLowerCase()
    // : p.data.category === category || p.data.author === author
  )
  .flat();
---

{
  related && related.length && (
    <aside class="container" aria-label="Related posts">
      <h2>Related Posts</h2>
      <ul class="categories">
        {related.map((r) => (
          <li>
            <a class="badge" href={r.url}>
              {r.data.title}
            </a>
          </li>
        ))}
      </ul>
    </aside>
  )
}
