---
---

<footer>
  <small>Copyright &copy; <span id="copyright">{}</span> Carlton Joseph</small>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
